{% extends 'base.html.twig' %}

{% block title %}Liste des pages!{% endblock %}

{% block body %}

 <a href="{{path('admin.page')}}" > 
<h1>Liste des pages </h1>
<div class="jumbotron">
        <div class="container">
        <div class="row">
{% for page in pages %}
        <div class="col-4">
       <article>
            <div class = "titre">
           <h2><a href="{{path('admin.show',{'id':page.id})}}">{{page.titre}}</a></h2>
            <div class = "metadata">  </div>
             <div class = "contenu">
<p>            <img src="https://via.placeholder.com/300x200" alt="">
             {{page.contenu}}</p>
            
            </div>
        </div>          
       </article>   
       </div>
{% endfor %}
       </div>
<div class="navigation">
    {{ knp_pagination_render(pages) }}
</div>
{% endblock %}
