{% extends 'base.html.twig' %}   
         
{% form_theme formPage 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class = "jumbotron">
<h2>Creation d'une nouvelle page<h2>
</div>

{{ form_start(formPage) }}
{{ form_widget(formPage.titre, {'attr':{'placeholder' : "titre del la page"}}) }}
{{ form_widget(formPage.auteur, {'attr':{'placeholder' : "auter de "}}) }}
{{ form_widget(formPage.createdAt, {'attr': {'placeholder' :" date de création"}}) }}
{{ form_widget(formPage.jourAt, {'attr':{'placeholder' : "date de jour"}}) }}
{{ form_widget(formPage.contenu, {'attr':{'placeholder' : "contenu de la page"}}) }}
{{ form_widget(formPage.categorie) }}
<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formPage) }}

{% endblock %}


