{% extends 'base.html.twig' %}

{% block title %}Calipso{% endblock %}

{% block body %}

<a href="{{path('admin.index')}}" class="btn btn-primary"> retour à l'accueil </a> 
    <br>

<a href="{{path('admin.page')}}" class="btn btn-primary"> retour vers la liste</a> 
  <br>
  
    <article>
    <div>
            <p>Numero de la page: {{page.id}}</p>

           <p>Titre de :{{page.titre}}</p>
            <p>Categorie :{{page.categorie.titre}}</p>
			  
             <p>contenu:
             {{page.contenu}}</p>

            <p>écrit par:{{page.auteur}}</p>
			
            <p>Date de creation de la page:{{page.createdAt | date('d/m/Y h:i ')}}</p>
			
        <p>Date de modification de la page:{{page.jourAt | date('d/m/Y h:i ')}}</p>

<p>document <
{% for document in page.documents %}
<a href="{{ path('document.upload', {'id': document.id}) }}" class="btn btn-info">  {{document.titre}}</a><br>
{% endfor %}
            </p>
			</div>
       </article>   
       
{% endblock %}
