{% extends 'base.html.twig' %}

{% block title %}mes documents{% endblock %}

{% block body %}
    <h1>Documents</h1>

    <a href="{{ path('document_new') }}">Création d'un document</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.titre }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id}) }}">show</a>
                    <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
